//
//  KameWorkers_Release.xcconfig
//  KameBooks_Workers
//
//  Created by Jorge Suárez on 26/2/23.
//  Copyright © 2023 Trantor S.L. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KENV_BUNDLE_NAME = KameWorkers
KENV_BASE_URL = https:\/\/trantorapi-acacademy.herokuapp.com
KENV_APP = KameWorkers
